.partners {
  &__info {
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 15px;
    padding: 15px;
    height: 100%;
  }

  &__fields {
    grid-column: 1/9;
    margin-right: 15px;
  }

  &__infofield {
    & > p {
      margin-bottom: 5px;
    }
  }

  &__createfield {
  }

  &__data {
    background-color: rgb(211, 211, 211);
    padding: 5px;
  }

  &__sale {
    grid-column: 9/13;

    & > p {
      margin-bottom: 5px;
    }

    & > input {
      border: 1px solid black;
      box-shadow: 1px 1px 1px black;
      padding: 5px;
      margin: 0 10px 5px 0;
    }
  }

  &__btn {
  }
}

.anim-enter {
  opacity: 0;
}
.anim-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
