.partners {
  &__bodyheader {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    background: rgb(0, 21, 36);
    background: linear-gradient(
      90deg,
      rgba(0, 21, 36, 1) 0%,
      rgba(41, 121, 9, 1) 15%,
      rgba(189, 255, 0, 1) 100%
    );
    padding: 15px;
    box-shadow: 2px 2px 2px black;
  }

  &__logo {
    grid-column: 1/2;
    justify-self: center;

    & > img {
      width: 35px;
      height: 35px;
    }
  }

  &__links {
    grid-column: 9/13;
    justify-self: center;

    & > span {
      color: black;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__link {
    margin: 0 5px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      font-weight: 900;
    }
  }
}

.anim-enter {
  opacity: 0;
}
.anim-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
// .anim-exit {
//   opacity: 1;
// }
// .anim-exit-active {
//   opacity: 0;
//   transition: opacity 1000ms;
// }
